.cont{
    border: 1px solid red; 
    background-color: #ffe6e6; 
    padding: 20px; 
    border-radius: 4px;
}

.back-cont{
    background-color: #e6f0ff; 
    border: 1px solid #b3d1ff;
    padding: 28px; 
    border-radius: 5px;
}