<div class="m-2">
    <div class="appraiser-container">
        <div class="appraiser-container-one">
            <div (click)="HandleChangeContent(1)"  [ngClass]="{ 'active': value === 1 }" class="appraiser-container-item radius-top b1">
                <div>Mis datos</div>
                <div>Mis datos personales</div>
            </div> 
            <div (click)="HandleChangeContent(2)"  [ngClass]="{ 'active': value === 2 }" class="appraiser-container-item b1">mis datos</div> 
            <div (click)="HandleChangeContent(3)"  [ngClass]="{ 'active': value === 3 }" class="appraiser-container-item b1">mis datos</div> 
            <div (click)="HandleChangeContent(4)"  [ngClass]="{ 'active': value === 4 }" class="appraiser-container-item b1">mis datos</div> 
            <div (click)="HandleChangeContent(5)"  [ngClass]="{ 'active': value === 5 }" class="appraiser-container-item radius-bottom">mis datos</div> 
        </div>
        <ng-template [ngIf]="value == 1">
            <app-my-data class="content"></app-my-data>
        </ng-template>
    </div>
</div>