.custom-select{
    padding: 8px;
    border-radius: 0 4px 4px 0;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-top: -20px;
    right: 0px;
}


.custom-input{
    width: 100%;
    padding: 7px 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    appearance: none;
}